<div class="containe caffeName">
<a routerLink="/"><h2><em>OSP CAFFE</em></h2></a>
</div>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler  m-auto " (click)="showDropdownMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse dropDownMenu" #dropDownMenu>
      <ul class="navbar-nav m-auto align-items-center">
        <li class="navbar-item">
          <a routerLink="/main"  class="nav-link">About us</a>
        </li>
        <li class="navbar-item">
            <a routerLink="/menu" class="nav-link">Menu</a>
          </li>
          <li class="navbar-item">
              <a routerLink="/tableReservation" class="nav-link">Table reservation</a>
            </li>
        <li class="navbar-item">
          <a routerLink="/events" class="nav-link">Events</a>
        </li>       
        <li class="navbar-item">
          <a routerLink="/contact" class="nav-link">Contact us</a>
        </li>
      </ul>
    </div>
</nav>