<div class="container firstPage">
  <h1>Welcome to OSP Caffe !</h1>
  <h4>We are so much more than a cafe</h4>
  <ul>
    <li>Our gourmet cafeteria serves an ever-changing selection of soups, salads, and custom sandwiches.</li>
    <li> Our bakery specializes in fresh baked hearth breads and wonderful cakes, tortes, and cupcakes.</li>
    <li>Our pizza and wine bar serves creative pizzas and crostini with an extensive list of wines by the glass.</li>
  </ul>
  <p> Since 1992, Cafe OSP has been serving up the freshest baked goods and modern comfort food in a cafeteria
    setting. Cafe OSP has created a menu filled with signature items from our award-winning Turtle Cake and hot soups
    to gourmet pizzas and salad…all served with a OSP or a glass of wine. The menu is prepared simply with the
    freshest and best ingredients available. Afternoon Tea is served daily and includes your choice of tea and dessert
    and includes a fresh baked English Currant Scone, shortbread cookies and sonoma basil spread sandwich. The pizza
    and wine bar is the ideal place to meet friends or unwind at the end of the day. There is an extensive menu of
    gourmet pizzas that pair perfectly with our interesting yet approachable wine list. Since day one, Cafe OSP has
    been a leader is sustainable dining, original recipes, and using only the freshest ingredients. We compost our food
    and paper waste and recycle everything we can.</p>
</div>